@charset "utf-8";

/* 장바구니 공통 */
.cart_wrap{}
.cart_wrap .cart_prd_list{}
.cart_wrap .cart_prd_list .top_box{overflow:hidden;padding:7px 15px;border-bottom:1px solid #ebebeb;background:#fff;}
.cart_wrap .cart_prd_list .top_box .form_wrap{float:left;}
.cart_wrap .cart_prd_list .top_box .btn_wrap{float:right;padding:8px 0;}
.cart_wrap .fix_bottom_wrap{position:fixed;bottom:0;left:0;z-index:200;width:100%;background:#fff;transform:translateY(100%);-webkit-transform:translateY(100%);transition:all .3s ease-out;-webkit-transition:all .3s ease-out;}
.cart_wrap .fix_bottom_wrap .btn_wrap{padding:0;}
.cart_wrap .fix_bottom_wrap.fixed{transform:translateY(0);-webkit-transform:translateY(0);}
