@charset "utf-8";

/* 고객센터 공통 */
.cs_wrap{min-height:100%;}
.cs_wrap .inner{padding:20px 15px;}
.cs_wrap .mod_tab_wrap .tab_cont .inner{padding:20px 15px 50px;}
.cs_wrap .inner h3{padding:18px 0;border-bottom:1px solid #1f1f1f;}
.cs_wrap .fix_bottom_wrap{position:fixed;bottom:0;left:0;z-index:200;width:100%;}

.cs_wrap .warn_box{padding:60px 0;}
.cs_wrap .warn_box p{font-size:16px;color:#555;}
.cs_wrap .warn_box p span{display:block;}
.cs_wrap .faq_list{}
.cs_wrap .faq_list > li{position:relative;}
.cs_wrap .faq_list > li:before{content:"";display:block;position:absolute;top:22px;right:17px;z-index:1;width:14px;height:6px;background:url(../image/ico_fold01_down.png) no-repeat center center;background-size:14px 6px;}
.cs_wrap .faq_list > li > a{display:table;table-layout:fixed;width:100%;padding:15px 0;border-bottom:1px solid #ebebeb;}
.cs_wrap .faq_list > li > a strong{display:table-cell;width:95px;font-size:13px;font-weight:400;line-height:19px;color:#1f1f1f;}
.cs_wrap .faq_list > li > a span{display:table-cell;padding-right:50px;font-size:13px;font-weight:400;line-height:19px;word-break:break-all;color:#8c8c8c;}
.cs_wrap .faq_list > li > .detail_box{display:none;padding:15px;font-size:12px;line-height:19px;word-break:break-all;color:#555;background:#f7f7f7;}
.cs_wrap .faq_list > li.active:before{background:url(../image/ico_fold01_up.png) no-repeat center center;background-size:14px 6px;}
.cs_wrap .faq_list > li.active > a{border-color:transparent;}
.cs_wrap .faq_list > li.active > a strong{font-weight:500;}
.cs_wrap .faq_list > li.active > a span{font-weight:500;color:#1f1f1f;}
.cs_wrap .faq_list > li.active > .detail_box{display:block;}

.cs_wrap .list_top_box{overflow:hidden;padding:15px;border-bottom:1px solid #ebebeb;}
.cs_wrap .list_top_box .sort_opt{margin-left:-7px;}
.cs_wrap .list_top_box .sort_opt a{display:inline-block;padding:0 7px;vertical-align:top;font-size:14px;line-height:30px;color:#555;}
.cs_wrap .list_top_box .sort_opt a.active{font-weight:500;color:#1f1f1f;}
.cs_wrap .list_top_box a.btn_set_term{display:inline-block;height:30px;padding:0 10px;border:1px solid #8c8c8c;vertical-align:top;font-size:13px;line-height:28px;color:#8c8c8c;}
.cs_wrap .list_top_box a.btn_set_term:before{content:"";display:inline-block;width:14px;height:28px;vertical-align:top;background:url(../image/ico_calendar.png) no-repeat center 7px;background-size:12px 12px;}
.cs_wrap .qna_list{}
.cs_wrap .qna_list > li{}
.cs_wrap .qna_list > li > a{display:block;position:relative;padding:30px 15px 0;}
.cs_wrap .qna_list > li > a:after{content:"";display:block;clear:both;width:100%;height:1px;margin-top:30px;background:#ebebeb;}
.cs_wrap .qna_list > li > a span{display:block;word-break:break-all;}
.cs_wrap .qna_list > li > a span.sub_cate{font-size:13px;line-height:19px;color:#555;}
.cs_wrap .qna_list > li > a span.sub_tit{margin-top:6px;font-size:14px;line-height:20px;color:#1f1f1f;}
.cs_wrap .qna_list > li > a span.sub_stat{width:70px;height:24px;margin-top:20px;border:1px solid #1f1f1f;border-radius:4px;text-align:center;font-size:13px;font-weight:500;line-height:22px;color:#1f1f1f;background:#fff;}
.cs_wrap .qna_list > li > a span.sub_stat.complete{border:1px solid #eee;color:#b8b8b8;background:#eee;}
.cs_wrap .qna_list > li > a span.sub_date{position:absolute;bottom:29px;right:15px;z-index:1;font-size:12px;line-height:24px;color:#555;}
.cs_wrap .qna_list > li > a .btn_delete{position:absolute;top:30px;right:15px; width:18px;height:20px;background:url(../image/ico_delete42.png) no-repeat center center;background-size:auto 21px;color:transparent;}
.cs_wrap .qna_detail{}
.cs_wrap .qna_detail .tit_box{padding-bottom:20px;margin:0 15px;border-bottom:1px dashed #ebebeb;}
.cs_wrap .qna_detail .tit_box span{display:block;word-break:break-all;}
.cs_wrap .qna_detail .tit_box span.sub_stat{width:70px;height:24px;margin:20px 0 7px;border:1px solid #1f1f1f;border-radius:4px;text-align:center;font-size:13px;font-weight:500;line-height:22px;color:#1f1f1f;background:#fff;}
.cs_wrap .qna_detail .tit_box span.sub_stat.complete{background:#eee;border:0;color:#b8b8b8;}
.cs_wrap .qna_detail .tit_box span.path{font-size:13px;color:#555;}
.cs_wrap .qna_detail .tit_box span.sub_tit{margin-top:2px;font-size:16px;font-weight:500;line-height:22px;color:#1f1f1f;}
.cs_wrap .qna_detail .tit_box span.sub_date{margin-top:3px;font-size:13px;line-height:19px;color:#1f1f1f;}
.cs_wrap .qna_detail .con_box{padding:0 15px;}
.cs_wrap .qna_detail .con_box:after{content:"";display:block;clear:both;width:100%;height:1px;margin-top:30px;background:#ebebeb;}
.cs_wrap .qna_detail .con_box .txt_box{position:relative;margin-top:20px;padding-left:18px;font-size:13px;line-height:22px;color:#555;}
.cs_wrap .qna_detail .con_box .txt_box:before{content:'Q';display:inline-block;position:absolute;left:0;font-size:13px;font-weight:500;color:#338BE6;}
.cs_wrap .qna_detail .con_box .img_box{overflow:hidden;margin-top:20px;}
.cs_wrap .qna_detail .con_box .img_box li{float:left;width:82px;height:82px;margin-right:5px;}
.cs_wrap .qna_detail .con_box .img_box li img{width:100%;height:100%;object-fit:cover;-webkit-object-fit:cover;}
.cs_wrap .qna_detail .reply_box{padding:0 15px 30px;margin-top:-1px;background:#fbfbfc;}
.cs_wrap .qna_detail .reply_box:before{content:"";display:block;padding-bottom:30px;}
.cs_wrap .qna_detail .reply_box > div{position:relative;padding-left:18px;font-size:13px;font-weight:500;line-height:22px;color:#1f1f1f;}
.cs_wrap .qna_detail .reply_box > div:before{content:'A';display:inline-block;position:absolute;left:0;font-weight:500;color:#f00;}
.cs_wrap .qna_detail .info_box{padding:30px 15px;}
.cs_wrap .qna_detail .info_box dl{}
.cs_wrap .qna_detail .info_box dl dt{padding-bottom:12px;font-size:14px;font-weight:500;line-height:20px;color:#1f1f1f;}
.cs_wrap .qna_detail .info_box dl dd{font-size:12px;font-weight:500;line-height:20px;color:#1f1f1f;}
.cs_wrap .qna_write{padding:20px 15px;}
.cs_wrap .qna_write dl{margin-top:30px;}
.cs_wrap .qna_write dl:first-child{margin-top:0;}
.cs_wrap .qna_write dt{position:relative;font-size:14px;font-weight:500;line-height:20px;color:#1f1f1f;}{padding:0 15px;}
.cs_wrap .qna_write dd{margin-top:10px;}
.cs_wrap .qna_write dd dl.form_wrap{margin-top:10px;}

.cs_wrap .voc_box{}
.cs_wrap .voc_box .txt_box{padding:30px 30px 10px;text-align:center;}
.cs_wrap .voc_box .txt_box .img_voc{width:52px;margin-bottom:5px;}
.cs_wrap .voc_box .txt_box p{color:#1f1f1f;}
.cs_wrap .voc_box .txt_box p span{display:block;}
.cs_wrap .voc_box .txt_box .txt01{font-size:25px;font-weight:500;line-height:32px;}
.cs_wrap .voc_box .txt_box .txt02{margin-top:6px;font-size:15px;line-height:21px;}
.cs_wrap .voc_box textarea{vertical-align:top;}
.cs_wrap .voc_box .sub_txt{font-size:12px;color:#555;}

.cs_wrap .notice_list{padding:0 15px;}
.cs_wrap .notice_list > li{position:relative;}
.cs_wrap .notice_list > li > a{display:table;table-layout:fixed;width:100%;padding:15px 0;border-bottom:1px solid #ebebeb;}
.cs_wrap .notice_list > li > a span{display:table-cell;font-size:13px;font-weight:400;line-height:19px;word-break:break-all;color:#8c8c8c;}
.cs_wrap .notice_list > li > a span:nth-child(1){width:17%;color:#1f1f1f;}
.cs_wrap .notice_list > li > a span:nth-child(2){width:60%;padding:0 5px;}
.cs_wrap .notice_list > li > a span:nth-child(3){width:23%;}
.cs_wrap .notice_detail{padding:0 15px;}
.cs_wrap .notice_detail .top_box{overflow:hidden;padding:20px 0;border-bottom:1px solid #ebebeb;}
.cs_wrap .notice_detail .top_box > span{display:block;font-size:13px;line-height:16px;color:#8c8c8c;}
.cs_wrap .notice_detail .top_box > strong{display:block;font-size:16px;font-weight:500;line-height:2px;color:#1f1f1f;}
.cs_wrap .notice_detail .con_box{padding:20px 0;font-size:13px;line-height:22px;color:#555;}

.cs_info{padding:35px;background-color:#141414;}
.cs_info:after{content:'';display:block;clear:both;}
.cs_info p{float:left;position:relative; width:50%;color:#fff;}
.cs_info p:before{content:'';display:inline-block;position:absolute;top:50%;left:0;width:1px;height:23px;margin-top:-12px;background-color:#707070;vertical-align:middle;}
.cs_info p:first-child:before{display:none;}
.cs_info p.tel{font-size:13px;line-height:1.3;}
.cs_info p.tel a{font-size:23px;font-weight:600;}
.cs_info p.time{text-align:right;font-size:12px;}
.cs_info p.time span{font-size:11px;}
.cs_info a{color:#fff;}


.footer_detail{padding: 20px 15px;}